.like,
.dislike,
.save,
.more,
.burger,
.cancel,
.dark,
.light {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #f7f7f7;

    img {
        width: 20px;
        height: 20px;


}
}